<div class="home-container">
    <header class="header">
        <h1 class="title">Визначаємо команди!</h1>
    </header>

    <section class="leaders-section">
        <h2 class="title">Лідери</h2>
        <ol class="list-cards">
            <li class="card" *ngFor="let leader of leaders; let i = index">
                <div class="place-card">
                    {{ i + 1 }}
                </div>
                <h3 class="title-card">
                    {{ leader.name }}
                </h3>
                <div class="mark-card">
                    {{ leader.mark }}
                </div>
                <!-- <img class="image-card" src="images/characters/incognito-man.jpg" alt="Фото учасника"> -->
                <img class="image-card" [src]="imagePath" alt="Фото учасника">
            </li>
        </ol>
    </section>

    <section class="teams-section">
        <h2 class="title">Фракції</h2>
        <ul class="list-teams">
            <li class="item-card" *ngFor="let team of teams">
                <strong>{{ team.name }}</strong>
                <div *ngIf="team.leader">
                    <p>Лідер: {{ team.leader.name }}</p>
                </div>
                <div *ngIf="!team.leader">
                    <p>Лідер не обраний</p>
                    <select (change)="selectLeader($event, team)">
                        <option value="" disabled selected>Оберіть лідера</option>
                        <option *ngFor="let student of students" [value]="student.id" [disabled]="isLeader(student)">
                            {{ student.name }}
                        </option>
                    </select>
                </div>
                <ul>
                    <li *ngFor="let member of team.members">{{ member.name }}</li>
                </ul>
            </li>
        </ul>
    </section>

    <div class="generate-teams">
        <button (click)="generateTeams()">Створити фракції</button>
    </div>

    <div class="start-game">
        <button (click)="startGame()">Розпочати гру</button>
    </div>
</div>