<div class="home-container">
    <header class="header">
        <h1 class="title">Визначаємо команди!</h1>
    </header>

    <section class="leaders-section">
        <h2 class="title">Лідери</h2>
        <ol class="list-cards">
            <li class="card" *ngFor="let leader of leaders$ | async; let i = index">
                <div class="place-card">
                    {{ i + 1 }}
                </div>
                <h3 class="title-card">
                    {{ leader.name }}
                </h3>
                <div class="mark-card">
                    {{ leader.mark }}
                </div>
                <img *ngIf="leader.imagePath" class="image-card" [src]="leader.imagePath" alt="Фото учасника">
                <span *ngIf="!leader.imagePath" class="image-card--fake" alt="Фото учасника"> ? </span>
                <div>
                    <select class="select" (change)="assignLeaderToTeam($event, leader)">
                        <option value="" disabled selected>Оберіть фракцію</option>
                        <option *ngFor="let team of teams$ | async" [value]="team.internalName"
                            [disabled]="team.leader">
                            {{ team.name }}
                        </option>
                    </select>
                </div>
            </li>
        </ol>
    </section>


    <div class="generate-teams">
        <button (click)="generateTeams()">Створити фракції</button>
    </div>

    <div class="start-game">
        <button (click)="startGame()">Розпочати гру</button>
    </div>
</div>